R2R-Atendimento-IA-Multiagentes-n8n.json
{"name":"R2R • Atendimento IA Multiagentes + Follow-up","nodes":[{"parameters":{"httpMethod":"POST","path":"r2r-ia","responseMode":"responseNode","options":{}},"id":"9d3aa7cb-0ddb-4dae-b30b-039d019d68d4","name":"Webhook WhatsApp","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-3664,4528],"webhookId":"72bcf7bf-1aea-0e09-1b4d-947579d75f43"},{"parameters":{"jsCode":"const b = $input.first().json.body || $input.first().json;\nconst d = b.data || b;\nconst key = d.key || {};\nconst msg = d.message || {};\nconst text = msg.conversation || (msg.extendedTextMessage && msg.extendedTextMessage.text) || d.text || '';\nconst phone = (key.remoteJid || d.remoteJid || '').split('@')[0];\nconst isGroup = (key.remoteJid||'').includes('@g.us');\nreturn [{ json: {\n  phone,\n  name: d.pushName || '',\n  text: (text||'').trim(),\n  from_me: key.fromMe === true,\n  message_id: key.id || '',\n  is_group: isGroup\n}}];"},"id":"5ce88571-a26c-4c12-99a6-4d9e79000426","name":"Normalizar","type":"n8n-nodes-base.code","typeVersion":2,"position":[-3440,4528]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c1","leftValue":"={{ $json.from_me }}","rightValue":false,"operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"c2","leftValue":"={{ $json.text }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"c3","leftValue":"={{ $json.is_group }}","rightValue":false,"operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"id":"ef2ebc58-c1a0-41b4-8f83-1c667bc64aca","name":"Mensagem válida?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-3216,4528]},{"parameters":{"method":"POST","url":"=https://iqrnytsgwaiegddfxfjs.supabase.co/rest/v1/contacts?on_conflict=phone","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Authorization","value":"={{ 'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"resolution=merge-duplicates,return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ phone: $json.phone, name: $json.name || null, last_message_id: $json.message_id, last_customer_message_at: new Date().toISOString(), reengage_done: false, opt_out: false }) }}","options":{}},"id":"492a3293-0d4e-40e8-9b23-31ea79fce2d7","name":"Salvar contato","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3008,4480]},{"parameters":{"assignments":{"assignments":[{"id":"a1","name":"phone","value":"={{ $('Normalizar').item.json.phone }}","type":"string"},{"id":"a2","name":"text","value":"={{ $('Normalizar').item.json.text }}","type":"string"},{"id":"a3","name":"name","value":"={{ $('Normalizar').item.json.name }}","type":"string"},{"id":"a4","name":"message_id","value":"={{ $('Normalizar').item.json.message_id }}","type":"string"}]},"options":{}},"id":"a8265e9a-186a-4b5c-838f-03b6bd91a193","name":"Dados","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2784,4480]},{"parameters":{"amount":8},"id":"f135adfc-2124-474b-9294-a82539bde34e","name":"Aguardar (debounce 8s)","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-2560,4480],"webhookId":"36cd307b-d9fe-4039-8360-3bbeff2307a0"},{"parameters":{"url":"=https://iqrnytsgwaiegddfxfjs.supabase.co/rest/v1/contacts?phone=eq.{{ $json.phone }}&select=last_message_id,name","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Authorization","value":"={{ 'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"fa183e56-8f46-4ed1-93f8-af7ba4440e3d","name":"Reler contato","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2336,4480]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"u1","leftValue":"={{ $json.last_message_id || $json[0]?.last_message_id }}","rightValue":"={{ $('Dados').item.json.message_id }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"b5909d94-4961-4496-a604-18141635a91f","name":"Ainda é a última?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-2128,4480]},{"parameters":{"promptType":"define","text":"={{ $('Dados').item.json.text }}","options":{"systemMessage":"={{ $('Montar prompt de atendimento').item.json.prompt }}"}},"id":"2e321c76-0ffd-44de-a481-efdaf9e78f48","name":"Agente R2R","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-1500,4480]},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o"},"options":{"temperature":0.6}},"id":"3b0f8ba3-2407-4b8e-80d2-88ee2848bb13","name":"Modelo OpenAI","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1920,4640],"credentials":{"openAiApi":{"name":"OpenAI account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Dados').item.json.phone }}","tableName":"chat_memory","contextWindowLength":30},"id":"5bd503d6-7294-49e9-9561-8f413c7a0535","name":"Memória (por contato)","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-1584,4640],"credentials":{"postgres":{"name":"Postgres account 3"}}},{"parameters":{"method":"POST","url":"=https://evolution-evolution-api.hnjl8h.easypanel.host/message/sendText/Ruan","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.EVOLUTION_API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ number: $json.phone, text: $json.text, delay: $json.digitando, presence: \"composing\" }) }}","options":{}},"id":"26ed445f-4e8b-4cb3-8fa5-809cb8b15018","name":"Enviar WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1040,4272]},{"parameters":{"method":"PATCH","url":"=https://iqrnytsgwaiegddfxfjs.supabase.co/rest/v1/contacts?phone=eq.{{ $('Dados').item.json.phone }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Authorization","value":"={{ 'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ last_ai_message_at: new Date().toISOString() }) }}","options":{}},"id":"4b5af802-eb2d-45f3-abdf-b44db388a536","name":"Marcar respondido","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1264,4416],"onError":"continueRegularOutput"},{"parameters":{"respondWith":"text","responseBody":"ok","options":{}},"id":"2bfb06bc-f53f-462a-9967-9c0c22139fe9","name":"Responder OK","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-1152,5072]},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":2}]}},"id":"d12cac0f-eb67-40ac-8ce3-60dfe66c0bf8","name":"Verificar inativos (a cada 2 min)","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-3664,4944],"disabled":true},{"parameters":{"url":"=https://iqrnytsgwaiegddfxfjs.supabase.co/rest/v1/contacts?select=phone,name&opt_out=eq.false&reengage_done=eq.false&last_customer_message_at=lt.{{ $now.minus(5,'minutes').toISO() }}&last_customer_message_at=gt.{{ $now.minus(6,'hours').toISO() }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Authorization","value":"={{ 'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"a43f69a5-0dee-4465-9c38-3672e23b68b4","name":"Buscar inativos 5min","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3424,4944]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"r1","leftValue":"={{ $json.phone }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"23ddfa5a-5726-4c67-998f-3950445b9603","name":"Tem inativo?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-3200,4944]},{"parameters":{"promptType":"define","text":"=O cliente {{ $json.name || '' }} parou de responder. Reabra a conversa em UMA mensagem curta e natural, retomando de onde paramos.","options":{"systemMessage":"# SYSTEM MESSAGE — RETOMADA COMERCIAL R2R\n\nVocê representa o atendimento comercial da R2R Marketing Digital no WhatsApp. Sua única função é retomar, em UMA mensagem curta e natural, uma conversa em que o cliente parou de responder.\n\nUse o histórico da memória e os dados disponíveis. Preserve o primeiro nome quando ele já estiver identificado e use-o uma única vez. Retome exatamente o assunto pendente: diagnóstico, dúvida, orçamento, proposta, ebook, curso, mentoria, tráfego, site, automação ou CRM.\n\nREGRAS ABSOLUTAS:\n- Não diga que é IA, robô, automação ou disparo.\n- Não use saudação genérica nem “ainda tem interesse?”.\n- Não reinicie o atendimento e não repita perguntas respondidas.\n- Não apresente novo serviço sem relação com o histórico.\n- Não invente agenda, prazo, desconto, parcelamento, resultado ou informação.\n- Não pressione e não use urgência artificial.\n- Faça no máximo uma pergunta.\n- A mensagem deve ter no máximo duas linhas.\n- Se houver preço pendente de automação, lembre que o orçamento disponível precisa ser informado antes do valor oficial.\n- Se o cliente já pediu proposta, reunião, contratação ou atendimento humano, conduza ao responsável.\n- Se houver opt-out ou pedido para não receber mensagens, não envie retomada.\n\nEscolha um único próximo passo, ligado ao ponto exato da conversa.\n\nEXEMPLOS DE TOM:\n“Carlos, você comentou que os contatos chegam pelos anúncios, mas poucos avançam. Hoje o maior problema está na qualidade dos leads ou no atendimento?”\n\n“Mariana, ficou pendente entender qual serviço a landing page precisa apresentar. Qual é a oferta principal?”\n\n“Paulo, para eu concluir a orientação sobre a automação, falta apenas a faixa de investimento planejada para o projeto.”\n\nAo final, inclua o bloco interno abaixo, sem escrever nada depois dele:\n###META###{\"etapa\":\"retomada_enviada\",\"handoff\":false,\"followup\":false,\"opt_out\":false}\n"}},"id":"d59342e3-521e-40aa-aa6e-4d6d7f73f936","name":"Agente Retomada","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-2960,4896]},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o"},"options":{"temperature":0.7}},"id":"36fa2990-48e7-4639-99c5-180dfd9ad83d","name":"Modelo OpenAI (retomada)","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-3024,5120],"credentials":{"openAiApi":{"name":"OpenAI account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.phone }}","tableName":"chat_memory","contextWindowLength":30},"id":"44c3072f-fd85-4628-a78a-4891c347f73b","name":"Memória (retomada)","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-2800,5120],"credentials":{"postgres":{"name":"Postgres account 3"}}},{"parameters":{"assignments":{"assignments":[{"id":"p","name":"phone","value":"={{ $('Tem inativo?').item.json.phone }}","type":"string"},{"id":"t","name":"text","value":"={{ ($json.output || '').split('###META###')[0].trim() }}","type":"string"}]},"options":{}},"id":"b63b43ad-dafe-4e17-8282-c5135c1e13f2","name":"Guardar phone","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2560,4896]},{"parameters":{"method":"POST","url":"=https://evolution-evolution-api.hnjl8h.easypanel.host/message/sendText/Ruan","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.EVOLUTION_API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ number: $json.phone, text: $json.text, delay: Math.min(6000, Math.max(1500, ($json.text || '').length * 45)), presence: \"composing\" }) }}","options":{}},"id":"fa505968-2252-4488-acbb-df3579a99a32","name":"Enviar retomada","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2336,4896]},{"parameters":{"method":"PATCH","url":"=https://iqrnytsgwaiegddfxfjs.supabase.co/rest/v1/contacts?phone=eq.{{ $json.phone }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Authorization","value":"={{ 'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ reengage_done: true, last_ai_message_at: new Date().toISOString() }) }}","options":{}},"id":"0235bc15-e648-47b8-b739-164eded13096","name":"Marcar retomada","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2128,4896],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Recebe a saida do Agente e prepara mensagens humanizadas\nconst out = ($json.output || '').toString();\n// Remove o bloco oculto de controle ###META###{...}\nlet limpo = out.split('###META###')[0];\n// Quebra em mensagens separadas usando o separador ||| definido no prompt\nlet partes = limpo.split('|||').map(s => s.trim()).filter(s => s.length > 0);\n// Seguranca: se nao houver separador, manda como 1 mensagem\nif (partes.length === 0) { partes = [limpo.trim()].filter(Boolean); }\nconst phone = $('Dados').item.json.phone;\nreturn partes.map((text, i) => {\n  // tempo de 'digitando' proporcional ao tamanho do texto\n  const digitando = Math.min(6000, Math.max(1200, text.length * 45));\n  return { json: { phone, text, digitando, idx: i, total: partes.length } };\n});"},"id":"26f869b6-b7eb-4516-a2ce-ff78b4b2d94c","name":"Separar mensagens","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1488,4272]},{"parameters":{"options":{}},"id":"2a0ec649-1df7-4b4c-aff8-4d66d3e45393","name":"Enviar uma a uma","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1264,4272]},{"parameters":{"amount":2},"id":"342bc0c4-8b55-4175-8406-2a5296c55201","name":"Pausa entre mensagens","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1264,4048],"webhookId":"1d2402e8-eb98-48d0-b985-12a463769fc8"},{"parameters":{"url":"https://raw.githubusercontent.com/RuanMarcos38/R2R-MARKETING-DIGITAL-FLUXO/main/prompts/atendimento-parte-01.txt","options":{"response":{"response":{"responseFormat":"text"}}}},"id":"c9f8bc47-352b-4949-b8b0-d1844656cde7","name":"Carregar prompt 1/4","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1920,4256]},{"parameters":{"url":"https://raw.githubusercontent.com/RuanMarcos38/R2R-MARKETING-DIGITAL-FLUXO/main/prompts/atendimento-parte-02.txt","options":{"response":{"response":{"responseFormat":"text"}}}},"id":"905d70a5-a175-4854-b883-e74f8573b627","name":"Carregar prompt 2/4","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1680,4256]},{"parameters":{"url":"https://raw.githubusercontent.com/RuanMarcos38/R2R-MARKETING-DIGITAL-FLUXO/main/prompts/atendimento-parte-03.txt","options":{"response":{"response":{"responseFormat":"text"}}}},"id":"19d13b1f-4beb-4e31-bcce-71ae34ad9d21","name":"Carregar prompt 3/4","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1440,4256]},{"parameters":{"url":"https://raw.githubusercontent.com/RuanMarcos38/R2R-MARKETING-DIGITAL-FLUXO/main/prompts/atendimento-parte-04.txt","options":{"response":{"response":{"responseFormat":"text"}}}},"id":"42dbd298-8828-40b1-95ce-8fccd6bb1b51","name":"Carregar prompt 4/4","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1200,4256]},{"parameters":{"jsCode":"const nomes = ['Carregar prompt 1/4','Carregar prompt 2/4','Carregar prompt 3/4','Carregar prompt 4/4'];\nconst ler = (nome) => {\n  const j = $(nome).first().json;\n  if (typeof j === 'string') return j;\n  if (typeof j.data === 'string') return j.data;\n  if (typeof j.body === 'string') return j.body;\n  if (typeof j.response === 'string') return j.response;\n  throw new Error(`Não foi possível ler o texto do nó ${nome}`);\n};\nreturn [{ json: { prompt: nomes.map(ler).join('') } }];"},"id":"3a6922f6-1c6a-4df6-a632-493e6e362a96","name":"Montar prompt de atendimento","type":"n8n-nodes-base.code","typeVersion":2,"position":[-960,4256]}],"pinData":{},"connections":{"Webhook WhatsApp":{"main":[[{"node":"Normalizar","type":"main","index":0}]]},"Normalizar":{"main":[[{"node":"Mensagem válida?","type":"main","index":0}]]},"Mensagem válida?":{"main":[[{"node":"Salvar contato","type":"main","index":0}],[{"node":"Responder OK","type":"main","index":0}]]},"Salvar contato":{"main":[[{"node":"Dados","type":"main","index":0}]]},"Dados":{"main":[[{"node":"Aguardar (debounce 8s)","type":"main","index":0}]]},"Aguardar (debounce 8s)":{"main":[[{"node":"Reler contato","type":"main","index":0}]]},"Reler contato":{"main":[[{"node":"Ainda é a última?","type":"main","index":0}]]},"Ainda é a última?":{"main":[[{"node":"Carregar prompt 1/4","type":"main","index":0}],[{"node":"Responder OK","type":"main","index":0}]]},"Modelo OpenAI":{"ai_languageModel":[[{"node":"Agente R2R","type":"ai_languageModel","index":0}]]},"Memória (por contato)":{"ai_memory":[[{"node":"Agente R2R","type":"ai_memory","index":0}]]},"Agente R2R":{"main":[[{"node":"Separar mensagens","type":"main","index":0}]]},"Enviar WhatsApp":{"main":[[{"node":"Pausa entre mensagens","type":"main","index":0}]]},"Marcar respondido":{"main":[[{"node":"Responder OK","type":"main","index":0}]]},"Verificar inativos (a cada 2 min)":{"main":[[{"node":"Buscar inativos 5min","type":"main","index":0}]]},"Buscar inativos 5min":{"main":[[{"node":"Tem inativo?","type":"main","index":0}]]},"Tem inativo?":{"main":[[{"node":"Agente Retomada","type":"main","index":0}]]},"Modelo OpenAI (retomada)":{"ai_languageModel":[[{"node":"Agente Retomada","type":"ai_languageModel","index":0}]]},"Memória (retomada)":{"ai_memory":[[{"node":"Agente Retomada","type":"ai_memory","index":0}]]},"Agente Retomada":{"main":[[{"node":"Guardar phone","type":"main","index":0}]]},"Guardar phone":{"main":[[{"node":"Enviar retomada","type":"main","index":0}]]},"Enviar retomada":{"main":[[{"node":"Marcar retomada","type":"main","index":0}]]},"Separar mensagens":{"main":[[{"node":"Enviar uma a uma","type":"main","index":0}]]},"Enviar uma a uma":{"main":[[{"node":"Marcar respondido","type":"main","index":0}],[{"node":"Enviar WhatsApp","type":"main","index":0}]]},"Pausa entre mensagens":{"main":[[{"node":"Enviar uma a uma","type":"main","index":0}]]},"Carregar prompt 1/4":{"main":[[{"node":"Carregar prompt 2/4","type":"main","index":0}]]},"Carregar prompt 2/4":{"main":[[{"node":"Carregar prompt 3/4","type":"main","index":0}]]},"Carregar prompt 3/4":{"main":[[{"node":"Carregar prompt 4/4","type":"main","index":0}]]},"Carregar prompt 4/4":{"main":[[{"node":"Montar prompt de atendimento","type":"main","index":0}]]},"Montar prompt de atendimento":{"main":[[{"node":"Agente R2R","type":"main","index":0}]]}},"active":false,"settings":{"executionOrder":"v1","binaryMode":"separate"}}